/**
  用来保存公共的一些样式
*/

ul, li
  list-style none

h1, h2, h3, h4, h5, h6, ul
  margin 0
  padding 0

input, select, button
  outline none
  background none
  box-shadow none
  font-size inherit
  color inherit

button, select, a
  cursor pointer

a
  text-decoration none
  color inherit
